* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ee7b6f;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30px;
    color:#6856a3;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-form label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.contact-form textarea {
    resize: vertical;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #9c83ed;
}
@media (max-width: 600px) {
    .contact-container {
        padding: 20px;
    }
}