body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus {
    border-color: #2888e7;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2888e7;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

.signup {
    text-align: center;
    margin-top: 15px;
}

.signup a {
    color:#2888e7;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}